{% extends 'base.html' %}

{% load static %}

{% block javascript %}
    <script src="{% static 'reservation/js/user.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">User</h1>
    <p>
        <button type="button" class="btn btn-primary js-create-user" data-url="{% url 'user_create' %}">
            <span class="fas fa-plus"></span>
            New User
        </button>
    </p>
    <table class="table" id="user-table">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Role</th>
            <th>Mobile Number</th>
            <th>Email</th>
            <th>User Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% include 'user/includes/partial_user_list.html' %}
        </tbody>
    </table>
    <div class="modal fade" id="modal-user">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
    </div>
{% endblock %}
