<form method="post" action="{% url 'facility_update' form.instance.pk %}" class="js-facility-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Update facility</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include 'facility/includes/partial_facility_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update facility</button>
    </div>
</form>
