<form method="post" action="{% url 'user_reservation_update' user.id form.instance.pk %}" class="js-user-reservation-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Update reservation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include 'user_reservation/includes/partial_user_reservation_form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update reservation</button>
    </div>
</form>
